.part1 {
    background-image: url(../image/h_img.jpg);
    color: white;
} 

.row, part4, h2 {
    text-align: center;
}

.a {
    font-size: 55px;
}

h2 {
    font-size: 22px;
    font-weight: 500;
}

h1 {
    font-size: 25px;
    font-weight: 600;
}

.part3 {
    background-image: url(../image/s_image.jpg);
    color: white;
}

input {
     width: 90%;
}

::placeholder {
    color: white;
    font-weight: 400;
    padding-left: 10px;
}

p {
    font-weight: 500;
}

.part5 {
    background-image: url(../image/c_image.jpg);
    color: white;
    display: flex;
    align-items: center;
}

.gallery_product {
    margin-bottom: 30px;
}


/* #container {
    width: 100%;
} */

