.part1 {
    background-image: url(../image/h_img.jpg);
    color: white;
} 

.row {
    text-align: center;
}

.a {
    font-size: 55px;
}

h2 {
    font-size: 22px;
    font-weight: 500;
}

h1 {
    font-size: 25px;
    font-weight: 600;
}

.part3 {
    background-image: url(../image/s_image.jpg);
    color: white;
}

p {
    font-weight: 500;
}